.nombre {
  display: inline;
  font-size: 25px;
  font-family: Roboto, sans-serif;
}

.links {
  display: inline-block;
}

.icono-linkedin {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.icono-github {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
